.navbar {
  background-color: black;
  color: white;
  height: 96px; }
  .navbar li a {
    color: white; }
  .navbar li a:hover {
    background-color: #333333;
    color: #66ccee; }
  .navbar .navbar-brand {
    text-indent: -9999px;
    background: Url("/media/images/Logo 64 blue.png") no-repeat;
    height: 64px;
    width: 64px;
    margin: 15px; }
  .navbar .nav {
    margin-top: 30px;
    font-size: 12pt; }

header {
  margin: 30px 0 30px 0;
  background: #66ccee;
  color: white;
  text-align: center;
  font-size: 48pt;
  min-height: 500px; }
  header article .preview {
    height: 300px;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 100px;
    background-color: white; }
  header article .testimonial {
    font-size: 35pt;
    margin-top: 150px;
    text-align: left; }
  header article .testimonial:before {
    content: '"';
    font-size: 40pt; }
  header article .author {
    font-size: 34pt;
    color: #bbeeee;
    text-align: right;
    margin-bottom: 0; }
  header article .subscript {
    margin-top: 0;
    font-size: 13pt; }

.tagline {
  font-size: 22pt;
  margin: 30px auto; }
  .tagline b {
    color: red; }

.thumbnail .img {
  height: 256px;
  width: 256px;
  margin: 0 auto; }
.thumbnail .amazon {
  background: url("/media/images/aa.png"); }
.thumbnail .apple {
  background: url("/media/images/apple-icon.png"); }
.thumbnail .android {
  background: url("/media/images/play-store.png"); }
.thumbnail .caption {
  text-align: center; }

.contact-form {
  font-size: 14pt; }
  .contact-form button {
    margin: 20px auto;
    float: right; }

.panel-heading {
  font-size: 14pt; }

p {
  font-size: 13pt; }

.active {
  font-size: 14pt; }
