<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myHealthApp">
<head>
    <title>My Overall Health</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/bower_components/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="/app/styles/site.css" rel="stylesheet" />
    <link href="/app/views/demo/styles/site.css" rel="stylesheet" />

</head>
<body>
    <div nav></div>
    <div class="container">
        <div class="demo">
            <div class="screen">
                <div class="nav-bar">
                    <div class="nav-link">
                        <a href="#/profiles"><div><i class="fa fa-users"></i>Profiles</div></a>
                        <a href="#/medications"><div><i class="fa fa-medkit"></i>Medications</div></a>
                        <a href="#/schedules"><div><i class="fa fa-calendar"></i>Schedules</div></a>
                        <a href="#/logs"><div><i class="fa fa-bar-chart-o"></i>Daily Logs</div></a>
                        <a href="#/history"><div><i class="fa fa-list-alt"></i>History</div></a>
                        <a href="#symptoms"><div><i class="fa fa-user-md"></i>Symptoms</div></a>
                    </div>
                </div>
                <div class="content" ng-view=""></div>
            </div>
        </div>
    </div>



    <scripts>
        
        <!-- Bower_Componets -->
        <script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="/bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script type="text/javascript" src="/bower_components/fullcalendar/fullcalendar.js"></script>
        <script type="text/javascript" src="/bower_components/fullcalendar/gcal.js"></script>
        
        <script type="text/javascript" src="/app/scripts/app.js"></script>

        <!-- Demo App -->
        <script type="text/javascript" src="/app/views/demo/scripts/app.js"></script>

        <!-- Services -->
        <script type="text/javascript" src="/app/views/demo/scripts/services/parse/parseHeaders.js"></script>
        <script type="text/javascript" src="/app/views/demo/scripts/services/parse/parseService.js"></script>
        
        <!-- Controllers -->
        <script type="text/javascript" src="/app/views/demo/scripts/controllers/profiles/profilesCtrl.js"></script>
        <script type="text/javascript" src="/app/views/demo/scripts/controllers/profiles/detailsCtrl.js"></script>
        <script type="text/javascript" src="/app/views/demo/scripts/controllers/navCtrl.js"></script>
        
        <!-- Directives -->
        <script type="text/javascript" src="/app/views/demo/scripts/directives/nav.js"></script>
        <script type="text/javascript" src="/app/views/demo/scripts/directives/bmi.js"></script>

    </scripts>

</body>
</html>