<article>
    <div class="container">
        <header class="col-lg-12">Download Now</header>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="img android"></div>
                    <div class="caption">
                        <h3>Android Devices</h3>
                        <p>Android devices including Samsung, HTC</p>
                        <p><a href="#" class="btn btn-success" role="button">Download</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="img apple"></div>
                    <div class="caption">
                        <h3>Apple Devices</h3>
                        <p>Works great on Iphones and Ipads</p>
                        <p><a href="#" class="btn btn-success" role="button">Download</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="img amazon"></div>
                    <div class="caption">
                        <h3>Amazon Store</h3>
                        <p>for Android and Amazon devices</p>
                        <p><a href="#" class="btn btn-success" role="button">Download</a></p>
                    </div>
                </div>
            </div>
        </div>
        <p class="tagline">Available on the Android Market, Amazon Store, and Apple Itunes, <b style="color:red">My Overall Health</b> will work great on any device.</p>
    </div>
</article>