<div class="nav-bar">
    <div class="nav-link">
        <a href="" ng-href="#/details/{{profile.objectId}}"><div><i class="fa fa-user"></i>{{profile.firstName}}</div></a>
        <a href="" ng-href="#/medications/{{profile.objectId}}"><div><i class="fa fa-medkit"></i>Medications</div></a>
        <a href="#/schedules"><div><i class="fa fa-calendar"></i>Schedules</div></a>
        <a href="#/logs"><div><i class="fa fa-bar-chart-o"></i>Daily Logs</div></a>
        <a href="#/history"><div><i class="fa fa-list-alt"></i>History</div></a>
        <a href="#symptoms"><div><i class="fa fa-user-md"></i>Symptoms</div></a>
    </div>
</div>
<div class="pull-right"><a ng-href="#/profiles"><i class="fa fa-users"></i> Change Profile</a>
    
</div>