<div class="nav-bar">
    <div class="nav-link">
        <a href="" ui-sref="#/profile/{{profile.objectId}}"><div><i class="fa fa-user"></i>{{profile.firstName}}</div></a>
        <a href="" ui-sref="#/profile/{{profile.objectId}}/medications"><div><i class="fa fa-medkit"></i>Medications</div></a>
        <a href="" ui-sref="#/profile/{{profile.objectId}}/schedules"><div><i class="fa fa-calendar"></i>Schedules</div></a>
        <a href="" ui-sref="#/profile/{{profile.objectId}}/logs"><div><i class="fa fa-bar-chart-o"></i>Daily Logs</div></a>
        <a href="" ui-sref="#/profile/{{profile.objectId}}/history"><div><i class="fa fa-list-alt"></i>History</div></a>
        <a href="" ui-sref="#/profile/{{profile.objectId}}/symptoms"><div><i class="fa fa-user-md"></i>Symptoms</div></a>
    </div>
</div>
<div class="pull-right"><a class="profiles-select" ng-href="#/profiles"><i class="fa fa-users"></i></a>
    
</div>