<div class="graph-container-small">
    <div class="graph-content">
        <h5>Body Mass Index:</h5>
        <div class="col-lg-1">
            <div class="bmi-graph">
                <div class="indicators">
                    <div class="obese">Obese</div>
                    <div class="healthy">Healthly</div>
                    <div class="underweight">Low</div>
                </div>
                <div class="bmi-slider small" id="BMI">{{profile.BMI | number:1}}</div>
            </div>
        </div>
    </div>
</div>


