<header>
    <div class="container">
        <article class="col-lg-6"><div class="preview"></div></article>
        <article class="col-lg-6">
            <p id="testimonial" class="testimonial">
                I finally have a place to keep all of my family's medical information.
            </p>
            <p id="author" class="author">
                - Jean Wilder
            </p>
            <p id="author-subscript" class="author subscript">
                Mother of 3 and fulltime caregiver
            </p>
        </article>
    </div>
</header>