<div app-nav></div>
<div class="content">
    <div class="immunizations">
        <h1>Recommended Immunization Schedule</h1>

        <table class="table table-condensed">
            <thead>Ages: Birth - 6 years</thead>
            <tr>
                <th></th>
                <th class="rotate"><div><span>Birth</span></div></th>
                <th class="rotate"><div><span>2 Months</span></div></th>
                <th class="rotate"><div><span>4 Months</span></div></th>
                <th class="rotate"><div><span>6 Months</span></div></th>
                <th class="rotate"><div><span>12 Months</span></div></th>
                <th class="rotate"><div><span>18 Months</span></div></th>
                <th class="rotate"><div><span>4-6 yrs</span></div></th>
            </tr>
            <tr>
                <td><a target="_blank" href="http://m.cdc.gov/en/HealthSafetyTopics/HealthyLiving/Vaccines/VIS/HepatitisB">Hepatitis B (HepB)</a></td>
                <td class="recommended">1st Dose</td>
                <td class="recommended">2nd Dose</td>
                <td></td>
                <td class="recommended">3rd Dose</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Rotavirus2 (RV)</td>
                <td></td>
                <td class="recommended">1st Dose</td>
                <td class="recommended">2nd Dose</td>
                <td class="if-needed">3rd Dose (RV5)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Diphtheria, Tetanus & Acellular Pertussis (DTaP < 7yrs)</td>
                <td></td>
                <td class="recommended">1st Dose</td>
                <td class="recommended">2nd Dose</td>
                <td class="recommended">3rd Dose</td>
                <td></td>
                <td class="recommended">4th Dose</td>
                <td></td>
            </tr>
            <tr>
                <td>Haemophilius Influenzae type b (Hib)</td>
                <td></td>
                <td class="recommended">1st Dose</td>
                <td class="recommended">2nd Dose</td>
                <td class="if-needed">3rd Dose</td>
                <td class="recommended">Booster Dose</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Pneumococcal Polysaccharide (PPSV23)</td>
                <td></td>
                <td class="recommended">1st Dose</td>
                <td class="recommended">2nd Dose</td>
                <td class="recommended">3rd Dose</td>
                <td class="recommended">4th Dose</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Inactivated Poliovirus (IPV < 18yrs)</td>
                <td></td>
                <td class="recommended">1st Dose</td>
                <td class="recommended">2nd Dose</td>
                <td class="recommended">3rd Dose</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Measles, Mumps, Rubella (MMR)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="recommended">1st Dose</td>
                <td></td>
                <td class="recommended">2nd Dose</td>
            </tr>
            <tr>
                <td>Varicella (VAR)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="recommended">1st Dose</td>
                <td></td>
                <td class="recommended">2nd Dose</td>
            </tr>
            <tr>
                <td>Hepatitis A (HepA)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="recommended">1st Dose</td>
                <td class="recommended">2nd Dose</td>
                <td></td>
            </tr>
        </table>
        
       

    </div>
</div>
