<h1>{{profile.firstName}} {{profile.lastName}}</h1>

<div class="col-lg-8">

    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-3 control-label">Height:</label>
            <div class="col-sm-6 input-group">
                <input class="form-control" ng-model="height" placeholder="Height in Inches"/>
                <span class="input-group-addon">Inches</span>
            </div>
        </div>
        

        <div class="form-group">
            <label class="col-sm-3 control-label">Weight:</label>
            <div class="col-sm-6 input-group">
                <input class="form-control" ng-model="weight" placeholder="Weight in Pounds" />
                <span class="input-group-addon">Pounds</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Blood Type:</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="bloodType" ng-options="bloodType for bloodType in bloodTypes"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Gender:</label>
            <div class="col-sm-6">
                <label class="btn btn-primary btn-sm" ng-model="gender" btn-radio="'M'" uncheckable><i class="fa fa-male"></i> Male</label>
                <label class="btn btn-pink btn-sm" ng-model="gender" btn-radio="'F'" uncheckable><i class="fa fa-female"></i> Female</label>
            </div>
        </div>


    </form>
</div>

<div class="col-lg-4">

    <div bmi></div>

</div>