<div class="col-lg-11">
    <form id="addProfileForm" name="addProfileForm" ng-submit="addProfile()" ng-show="showForm">
        
        <label class="pull-right" for="profileId">Profiles: {{profileId}}</label><br/>
        <input class="hidden" type="text" ng-model="profileId" id="profileId" value="profileId" required readonly />

        <label for="firstName">First Name</label>
        <input class="form-control" type="text" ng-model="firstName" id="firstName" required />

        <label for="lastName">Last Name</label>
        <input class="form-control" type="text" ng-model="lastName" id="lastName" required />

        <label for="dob">Date of Birth</label>
        <p class="input-group" ng-controller="datePickerCtrl">
            <input class="form-control" type="text" datepicker-popup="{{format}}" is-open="opened" ng-model="dob" id="dob" datepicker-options="dateOptions" ng-required="true" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>

        <input class="btn btn-success" type="submit" id="submit" value="+ Add Profile" />

    </form>

    <div class="profiles" ng-repeat="profile in profiles">
        <a ng-href="#/profiles/{{profile.objectId}}"><div class="profile"><i class="fa fa-user"></i><br />{{profile.firstName}} {{profile.lastName}}</div></a>
    </div>
    <div class="profiles">
        <a ng-click="toggleForm()"><div class="profile"><i class="fa fa-plus"></i><br />New Profile</div></a>
    </div>

</div>

